$max-width: 1200px;
$header-height: 64px;
$footer-height: 128px;

header {
    width: 100%;
    height: $header-height;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.header__content {
    margin: 0 auto;
    height: 100%;
    max-width: $max-width;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
}

.logo {
    position: absolute;
    margin: 0;
    bottom: 2px;
    font-family: 'Kufam';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    user-select: none;
    cursor: pointer;
}

.btn_menu,
.btn_cart {
    width: 36px;
    height: 36px;
    padding: 1px;
    margin-left: 16px;
    cursor: pointer;
}

.btn_menu img {
    width: 100%;
    height: auto;
}

.btn_cart {
    img {
        width: 90%;
        height: auto;
    }

    &__counter {
        min-width: 20px;
        max-width: fit-content;
        height: 20px;
        padding: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0;
        bottom: 0;
        border-radius: 10px;
        background: #236af2;
        color: white;
        font-size: 11px;
        font-weight: bold;
    }
}

.left_side {
    margin-right: auto;
}

.right_side {
    width: fit-content;
    height: fit-content;
    margin: 0 16px 0 auto;
    display: flex;
    gap: 24px;
}

.btn_auth,
.btn_profile {
    max-width: 20vw;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 20px;
    cursor: pointer;
    user-select: none;

    &:hover {
        text-decoration: underline;
    }
}

.container {
    margin: 0 auto;
    width: auto;
    min-height: calc(100vh - $header-height - $footer-height);
    max-width: $max-width;
    transition: all .2s ease-in-out;
}

footer {
    margin-top: 48px;
    width: 100%;
    height: $footer-height;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5A5A5A;
    color: white;
    font-family: 'Kulim Park';
}

.blackout {
    position: absolute;
    width: 100%;
    height: calc(100% - 64px);
    background-color: rgba(0, 0, 0, .5);
    z-index: 9;
}

@media(max-width: 600px) {
    .header__content {
        margin: 0 auto;
        width: 100vw;
    }

    .logo {
        bottom: 5px;
        font-size: 32px;
    }

    .btn_cart {
        top: 2px;
    }

    .btn_auth,
    .btn_profile {
        display: none;
    }
}