<mat-card>
  <mat-card-header [className]="'header'">
    <mat-card-title>Register</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form
      class="register_form"
      [formGroup]="registerForm"
      (keydown.enter)="register()"
    >

      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput [formControlName]="'name'">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput [formControlName]="'email'">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput
               [type]="showPassword ? 'text' : 'password'"
               [formControlName]="'password'"
        >
        <button tabindex="-1"
          mat-icon-button matSuffix
          (click)="showPassword = !showPassword"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="showPassword"
        >
          <mat-icon>{{ showPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>
        <mat-hint>8 to 30 symbols</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Confirm password</mat-label>
        <input matInput
               [type]="showConfirmPassword ? 'text' : 'password'"
               [formControlName]="'confirmPassword'"
        >
        <button tabindex="-1"
          mat-icon-button matSuffix
          (click)="showConfirmPassword = !showConfirmPassword"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="showConfirmPassword"
        >
          <mat-icon>{{ showConfirmPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>
      </mat-form-field>

    </form>
    <div class="error_message">{{ error }}</div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="register()">Register</button>
    <a [routerLink]="'/login'" mat-button>Log in</a>
  </mat-card-actions>
</mat-card>
