.detailed_view_wrapper {
    position: absolute;
    left: auto;
    right: auto;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    top: 100px;
    margin: 0 auto;
    z-index: 20;
}

.item_card {
    width: 900px;
    height: fit-content;
    padding: 40px;
    display: grid;
    grid-template-columns: 240px auto;
    gap: 40px;
    border-radius: 32px;
    overflow: hidden;
    background-color: white;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.25);

    .btn_close {
        position: absolute;
        right: 16px;
        top: 16px;
        width: 24px;
        height: 24px;
        text-align: center;
        user-select: none;
        cursor: pointer;
    }
}

.left_side {
    width: 100%;

    .picture {
        width: 100%;
        height: fit-content;

        img {
            width: 100%;
            height: auto;
            max-width: 100%;
            max-height: 100%;
        }
    }
}

.right_side {
    width: 100%;
    height: fit-content;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;

    .info_block {
        display: flex;
        flex-direction: column;
        gap: 4px;
        
        .title {
            font-size: 24px;
            font-weight: bold;
        }

        .category {
            color: #838383;
            font-size: 14px;
        }
    }

    .loading_indicator {
        color: #6d6d6d;
    }
    
    .attributes_block {
        width: 100%;
        
        .attributes {
            width: 100%;
            border-collapse: collapse;

            td {
                border: 1px solid rgba($color: #000000, $alpha: .25);
                height: 26px;
                padding: 2px 6px;
                font-size: 16px;
            }
        }
    }

    .seller_block {
        width: 100%;
        display: flex;
        gap: 12px;
        align-items: center;
        font-size: 16px;
        
        .title {
            font-size: 18px;
            font-weight: bold;
        }
    }

    
    .actions_block {
        width: fit-content;
        margin: 0 auto;
        display: flex;
        gap: 12px;
        margin: auto auto 0 0;

        .price {
            font-family: 'Kulim Park';
            font-style: normal;
            font-weight: 400;
            font-size: 19px;
            line-height: 23px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #000000;
            user-select: none;
        }
    }
}

.btn_add_item {
    width: 76px;
    height: 23px;
    padding: 2px 0;
    border: 1px solid rgba(0, 133, 255, 0.75);
    border-radius: 5px;
    font-family: 'Kulim Park';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #0085FF;
    overflow: hidden;
    white-space: nowrap;
    transition: all .2s ease-out;
    cursor: pointer;
    user-select: none;

    &:hover {
        color: white;
        background-color: #0085FF;
    }
}

.count_selector {
    width: 76px;
    height: 23px;
    padding: 2px 0;
    user-select: none;
    display: grid;
    grid-template-columns: 20px 32px 20px;

    input {
        width: auto;
        max-width: 100%;
        border: 1px solid rgba(0, 133, 255, 0.75);
        border-left: none;
        border-right: none;
        text-align: center;
    }

    .btn_decrease,
    .btn_increase {
        border: 1px solid rgba(0, 133, 255, 0.75);
        font-family: 'Kulim Park';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        color: #0085FF;
        transition: all .2s ease-out;
        cursor: pointer;
        user-select: none;
    
        &:hover {
            color: white;
            background-color: #0085FF;
        }
    }

    .btn_decrease {
        border-radius: 5px 0 0 5px;
    }

    .btn_increase {
        border-radius: 0 5px 5px 0;
    }
}