@import './base.css';

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway.ttf');
}

#app {
    width: 100%;
    min-width: 600px;
    height: fit-content;
    margin: 0 auto;
    overflow-x: hidden;
}

@media (max-width: 600px) {
    #app {
        margin: 0;
        transform: translateX(calc((600px - 100vw) * -0.5));
    }
}