$color-main: #008be1;
$option-height: 34px;

.dropdown {
  position: relative;
  width: 100%;
  height: fit-content;
  user-select: none;
}

.button_toggle,
.item {
  width: 100%;
  height: $option-height;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_toggle {
  cursor: pointer;
  color: #c0c0c0;
  border: none;
  border-bottom: 1px solid #a2a2a2;
  background-color: rgba($color: black, $alpha: .025);

  &:focus {
    border-bottom: 1px solid $color-main;
    outline: none;
  }

  &.active {
    border-radius: 12px 12px 0 0;
    border-bottom: none;
  }

  &.has_value {
    color: black;
  }

  input {
    width: 100%;
    height: 100%;
    padding: 0 12px;
    border: none;
    background-color: transparent;
    outline: none;
    font-family: "Raleway", serif;
    font-size: 14px;
  }

  .btn_clear {
    position: absolute;
    width: 30px;
    height: 100%;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
  }
}

.dropdown_menu {
  position: absolute;
  height: fit-content;
  max-height: 240px;
  left: 0;
  right: 0;
  z-index: 20;
  border-radius: 0 0 12px 12px;
  border: 1px solid #b6b6b6;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: white;

  .item {
    border: none;
    cursor: pointer;
    font-family: "Raleway", serif;
    font-size: 14px;

    &:hover {
      background-color: rgba($color: black, $alpha: .05);
    }
  }

  &::-webkit-scrollbar {
    width: 8px;

    &-track {
      background-color: #eaeaea;
    }

    &-thumb {
      background-color: #d9d9d9;
    }
  }
}
