.main_page {
    width: 100%;
    height: fit-content;
    min-height: 92vh;
}

.container_featured,
.container_recommended,
.container_catalog_reference {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_catalog_reference {
    height: 237px;
    justify-content: center;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.header_main {
    font-size: 30px;
    line-height: 36px;
    width: 100%;
    text-align: center;
    font-family: 'Kufam';
    margin: 37px auto 30px auto;
    user-select: none;
}

.header_bigger {
    font-size: 42px;
    line-height: 50px;
    width: auto;
    max-width: 100vw;
    height: auto;
    text-align: center;
    font-family: 'Kufam';
    margin: 16px auto 12px auto;
    user-select: none;
}

.product_list_inline {
    width: 100%;
    height: auto;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 48px;
}

.btn_more,
.btn_catalog {
    font-family: 'Kulim Park';
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-out;
    cursor: pointer;
    user-select: none;
    line-height: 16px;
    border: 1.5px solid #003BD1;
    background-color: white;
    color: #003BD1;

    &:hover {
        color: white;
        background-color: #003BD1;
    }
}

.btn_more {
    width: 170px;
    height: 37px;
    font-size: 14px;
    border-radius: 10px;
}

.btn_catalog {
    width: 188px;
    height: 43px;
    font-size: 16px;
    border-radius: 10px;
}