<div class="dropdown">
  <div
    class="button_toggle"
    [class]="{active: active}"
    (click)="active = true"
  >
    <input
      type="text"
      placeholder="{{ value.length }} selected"
      [(ngModel)]="filterInput"
      (focusin)="active = true"
    >
    <span *ngIf="value.length > 0" class="btn_clear" (click)="clear()">✖</span>
  </div>

  <div *ngIf="active" class="dropdown_menu">
    <div
      *ngFor="let option of options | filterByName:filterInput"
      class="item"
      [class]="{selected: value.includes(option.id)}"
      (click)="selectOption(option.id)"
    >
      <span *ngIf="showID" class="item_id">#{{ option.id }}</span>
      <div class="item_name">{{ option.name }}</div>
    </div>
  </div>

</div>
