<div class="sidebar">
  <div class="title">
    <span>M</span>ega<span>CRM</span>
  </div>

  <div class="container">
    <a class="sidebar-link" [routerLink]="'users'" routerLinkActive="selected">
      <img src="assets/svg/tab-users.svg" alt="icon">
      Users
    </a>
    <a class="sidebar-link" routerLinkActive="selected">
      <img src="assets/svg/tab-stores.svg" alt="icon">
      Stores
    </a>
    <a class="sidebar-link" routerLinkActive="selected">
      <img src="assets/svg/tab-categories.svg" alt="icon">
      Categories
    </a>
    <a class="sidebar-link" [routerLink]="'products'" routerLinkActive="selected">
      <img src="assets/svg/tab-products.svg" alt="icon">
      Products
    </a>
  </div>

  <div class="container">
    <a class="sidebar-link" routerLinkActive="selected">
      <img src="assets/svg/tab-sales.svg" alt="icon">
      Sales
    </a>
  </div>

  <div class="container">
    <a class="sidebar-link" routerLinkActive="selected">
      <img src="assets/svg/tab-tickets.svg" alt="icon">
      Tickets
    </a>
    <a class="sidebar-link" routerLinkActive="selected">
      <img src="assets/svg/tab-support.svg" alt="icon">
      Support
    </a>
  </div>

  <div class="container">
    <a class="sidebar-link" routerLinkActive="selected">
      <img src="assets/svg/tab-account.svg" alt="icon">
      My Account
    </a>
    <a class="sidebar-link" (click)="logout()">
      <img src="assets/svg/tab-logout.svg" alt="icon">
      Logout
    </a>
  </div>

</div>
