<div class="sidebar">
  <div class="title">MegaStore</div>
  <a class="sidebar-link" [routerLink]="'users'" routerLinkActive="selected">
    <img src="assets/svg/tab-users.svg" alt="icon">
    Users
  </a>
  <a class="sidebar-link" routerLinkActive="selected">
    <img src="assets/svg/tab-stores.svg" alt="icon">
    Stores
  </a>
  <a class="sidebar-link" routerLinkActive="selected">
    <img src="assets/svg/tab-categories.svg" alt="icon">
    Categories
  </a>
  <a class="sidebar-link" [routerLink]="'products'" routerLinkActive="selected">
    <img src="assets/svg/tab-products.svg" alt="icon">
    Products
  </a>
</div>
