.sidebar {
  width: 100%;
  display: flex;
  flex-direction: column;
  user-select: none;

  .show_sidebar {
    display: none;
  }

  .btn_close {
    display: none;
  }

  .title {
    width: fit-content;
    margin: 0 auto;
    padding: 25px 0;
    text-align: center;
    font-size: 24px;
    font-family: "Raleway", serif;
    font-weight: bold;
    text-decoration: none;
    color: black;

    span {
      color: #008be1;
    }
  }

  .container {
    margin-bottom: 20px;
  }

  .sidebar-link {
    width: 100%;
    height: 60px;
    padding: 12px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background: transparent;
    transition: all .1s ease-in-out;
    font-size: 20px;
    font-family: "Kufam", serif;
    text-decoration: none;
    color: black;
    cursor: pointer;

    &:hover {
      background: rgba($color: black, $alpha: .025);
    }

    &.selected {
      background: rgb(0, 139, 225);
      color: white;

      img {
        filter: invert(100%);
      }
    }

    img {
      width: auto;
      height: 34px;
      margin-bottom: 4px;
    }
  }
}

@media (max-width: 1200px) {
  .sidebar:not(.active) {
    max-width: 85px;

    .title {
      display: none;
    }

    .show_sidebar {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px 0;

      img {
        width: auto;
        height: 36px;
        cursor: pointer;
      }
    }

    .container .sidebar-link {

      span {
        display: none;
      }
    }
  }

  .sidebar.active {

    .title {
      padding: 0 0 26px 0;
    }

    .btn_close {
      display: flex;
      width: 30px;
      height: 30px;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      background-color: white;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}
