.sidebar {
  width: 100%;
  display: flex;
  flex-direction: column;
  user-select: none;

  .title {
    width: 100%;
    padding: 25px 0;
    text-align: center;
    font-size: 24px;
    font-family: "Raleway", serif;
    font-weight: bold;

    span {
      color: #008be1;
    }
  }

  .container {
    margin-bottom: 20px;
  }

  .sidebar-link {
    width: 100%;
    height: 60px;
    padding: 12px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background: transparent;
    transition: all .1s ease-in-out;
    font-size: 20px;
    font-family: "Kufam", serif;
    text-decoration: none;
    color: black;
    cursor: pointer;

    &:hover {
      background: rgba($color: black, $alpha: .025);
    }

    &.selected {
      background: rgb(0, 139, 225);
      color: white;

      img {
        filter: invert(100%);
      }
    }

    img {
      width: auto;
      height: 34px;
      margin-bottom: 4px;
    }
  }
}
