@import "../shared/page-style.scss";

.message {
  width: 100%;
  height: fit-content;
  padding: 120px 0;
  box-shadow: 2px 8px 8px rgba($color: black, $alpha: .05);
  text-align: center;
  font-family: "Kulim Park", serif;
  font-size: 30px;
  line-height: 40px;

  span {
    color: #008be1;
  }

  .subtitle {
    font-size: 20px;
    line-height: 30px;
  }
}
