$color-main: #008be1;
$color-main-light: #11a3ff;
$color-danger: #e12900;

$base-indent: 48px;

.filters_container {
  width: 100%;
  height: fit-content;
  padding: 30px $base-indent 20px $base-indent;

  .title {
    font-family: "Kulim Park", serif;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 22px;
  }

  .filters {
    width: 100%;
    height: fit-content;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px 15px;
  }

  .field_wrapper {
    min-width: 240px;
    max-width: 330px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    flex-grow: 1;

    label {
      font-family: "Kulim Park", serif;
      margin-bottom: 4px;
    }

    input {
      min-width: 100px;
      height: 36px;
      border: none;
      border-bottom: 1px solid #a2a2a2;
      background-color: rgba($color: black, $alpha: .025);
      font-family: "Raleway", serif;
      font-size: 13px;

      &:focus {
        border-bottom: 1px solid $color-main;
        outline: none;
      }
    }
  }

  .buttons {
    display: flex;
    gap: 12px;
  }

  .btn_apply,
  .btn_reset {
    width: 140px;
    height: 36px;
    padding: 0 10px;
    border-radius: 8px;
    transition: all .1s ease-out;
    cursor: pointer;
  }

  .btn_apply {
    background-color: white;
    color: $color-main;
    border: 1px solid $color-main;

    &:hover {
      background-color: $color-main;
      color: white;
    }
  }

  .btn_reset {
    background-color: white;
    color: $color-danger;
    border: 1px solid $color-danger;

    &:hover {
      background-color: $color-danger;
      color: white;
    }
  }
}

.container,
.items-table {
  width: 100%;
  height: fit-content;
}

.container {
  background-color: white;
  box-shadow: 2px 2px 7px rgba($color: black, $alpha: .15);
  overflow: auto;

  .message {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    font-family: "Kulim Park", serif;
    font-size: 20px;
    font-style: italic;
    color: #bfbfbf;
    user-select: none;
  }
}

.items-table {
  border-collapse: collapse;
  padding: 0 $base-indent;

  .headers {
    background: $color-main-light;
    position: relative;
    color: white;
  }
}

.btn_add {
  position: absolute;
  top: 12px;
  right: 49px;
  width: 36px;
  height: 36px;
  cursor: pointer;

  img {
    width: auto;
    height: 100%;
    filter: invert(100%);
    transition: .1s ease-out;
  }

  &:hover img {
    filter: invert(75%);
  }
}

td, th {
  padding: 20px 10px 20px 16px;
  text-align: start;
  font-family: "Kufam", serif;
  max-width: 300px;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:first-of-type {
    padding-left: $base-indent;
  }

  &:last-of-type {
    padding-right: $base-indent;
  }
}

th {
  height: auto;
  max-height: 60px;
  font-weight: bold;
  cursor: pointer;
  background: transparent;

  &:hover {
    background: rgba($color: black, $alpha: .05);
  }
}

.items-table tr {

  .pseudo_cl:hover {
    background: transparent;
    cursor: default;
  }
}

.item {
  cursor: pointer;
  transition: all .1s ease-in-out;

  &:hover {
    background: rgba($color: black, $alpha: .025);
  }

  &.selected {
    background-color: rgb(36, 169, 255);
    color: white;

    img {
      filter: invert(100%);
    }
  }

  td.marked {
    color: red;
  }

  .checkbox {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70px;

    img {
      width: auto;
      height: 30px;
    }
  }

  .btn_edit,
  .btn_delete {
    width: 60px;
    user-select: none;

    img {
      margin-left: auto;
      width: 40px;
      height: auto;
      padding: 8px;
      border-radius: 50%;

      &:hover {
        padding: 6px;
        box-shadow: 0 0 5px rgba($color: black, $alpha: .05);
        background: rgba($color: black, $alpha: .05);
      }
    }
  }
}

.actions {
  width: 100%;
  height: fit-content;
  padding: 15px 30px 20px 30px;
  display: flex;
  align-items: center;
  gap: 12px;
  border-top: 1px solid #ececec;
  font-size: 16px;
  font-family: "Kulim Park", serif;
  user-select: none;

  .btn_cancel {
    font-size: 15px;
    cursor: pointer;
  }
}

.loading_indicator {
  width: 100%;
  height: fit-content;

  img {
    display: block;
    width: auto;
    height: 70px;
    margin: 24px auto;
  }
}
