.main_title {
    width: 100%;
    font-size: 36px;
    text-align: center;
    margin: 32px 0;
}

.container {
    display: grid;
    grid-template-columns: 326px auto;
    gap: 37px;
    transition: all .2s ease-in-out;
}

.loading_indicator {
    position: absolute;
    width: 100%;
    color: #6d6d6d;
    font-family: "Kufam", serif;
    font-size: 24px;
    text-align: center;
    margin: 20px auto;
}

.message {
    position: absolute;
    width: 100%;
    font-family: "Kufam", serif;
    font-size: 24px;
    text-align: center;
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.filters_block {
    width: 100%;
    height: fit-content;
    gap: 10px;
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.products_block {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.views_wrapper {
    position: absolute;
    top: -50px;
    width: 100%;
    height: fit-content;
    padding-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    user-select: none;

    .view {
        width: fit-content;
        height: fit-content;
        cursor: pointer;

        img {
            filter: opacity(10%);

            &:hover {
                filter: opacity(25%);
            }
        }

        &.selected img {
            filter: none;
        }

        &.grid-view img {
            width: 32px;
            height: 32px;
        }

        &.list-view img {
            width: 40px;
            height: 40px;
        }
    }
}

.products_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 27px;

    &.grid {
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: wrap;
        gap: 30px;
    }
}

.btn_more {
    margin: 40px auto 0 auto;
    width: 170px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-out;
    cursor: pointer;
    user-select: none;
    line-height: 16px;
    border: 1.5px solid #003BD1;
    border-radius: 10px;
    background-color: white;
    color: #003BD1;
    font-family: 'Kulim Park', serif;
    font-style: normal;
    font-size: 14px;

    &:hover {
        color: white;
        background-color: #003BD1;
    }

    &[disabled] {
        color: #757575;
        border-color: #a8a8a8;
        background-color: #e0e0e0;
        cursor: default;
    }
}

@media (max-width: 900px) {
    .container {
        padding: 0 20px;
        display: flex;
        flex-direction: column;
    }

    .filters_block {
        margin-bottom: 30px;
    }
}

@media (max-width: 480px) {
    .main_title {
        font-size: 30px;
        text-align: center;
        margin: 20px 0;
    }

    .products_wrapper.grid {
        gap: 15px;
    }
}