<mat-card>
  <mat-card-header [className]="'header'">
    <mat-card-title>Log in</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form
      class="login_form"
      [formGroup]="loginForm"
      (keydown.enter)="login()"
    >
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput [formControlName]="'email'">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput
          [type]="showPassword ? 'text' : 'password'"
          [formControlName]="'password'"
        >
        <button tabindex="-1"
          mat-icon-button matSuffix
          (click)="showPassword = !showPassword"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="showPassword"
        >
          <mat-icon>{{ showPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>
      </mat-form-field>
    </form>
    <div class="error_message">{{ error }}</div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="login()">Log in</button>
    <a [routerLink]="'/register'" mat-button>Register</a>
  </mat-card-actions>
</mat-card>
