$color-main: #008be1;

.input_range {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;

  input {
    width: auto;
    max-width: 45%;
    height: 34px;
    background-color: rgba($color: black, $alpha: .025);
    border: none;
    border-bottom: 1px solid #a2a2a2;
    font-family: "Raleway", serif;
    font-size: 14px;

    &:focus {
      border-bottom: 1px solid $color-main;
      outline: none;
    }
  }
}
