.auth_window_wrapper {
    position: absolute;
    left: auto;
    right: auto;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    top: 100px;
    margin: 0 auto;
    z-index: 20;
}

.auth_window {
    width: 700px;
    height: fit-content;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    border-radius: 32px;
    overflow: hidden;
    background-color: white;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.25);

    .btn_close {
        position: absolute;
        right: 16px;
        top: 16px;
        width: 24px;
        height: 24px;
        text-align: center;
        user-select: none;
        cursor: pointer;
    }
}

.switcher_wrapper {
    display: flex;
    align-items: center;
    gap: 32px;
    font-size: 18px;
    user-select: none;
    cursor: pointer;
}

.form_wrapper {
    width: 100%;
    max-width: 400px;
    height: fit-content;

    form {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .field_wrapper {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;

        input {
            width: 100%;
            height: 44px;
            padding: 4px 12px;
            background-color: white;
            box-shadow: inset 0 0 5px rgba($color: #000, $alpha: .15);
            border: none;
            border-radius: 6px;
            color: #5f4e4e;
            outline: none;

            &:focus {
                border: 1px solid #d3d3d3;
            }
        }
    }
}

.btn_auth {
    width: 100%;
    max-width: 200px;
    height: 40px;
    margin-top: 12px;
    background-color: #c7c7c7;
    color: #8d8d8d;
    border: 1px solid #8d8d8d;
    border-radius: 10px;
    font-size: 14px;
    transition: all .1s ease-in-out;

    &.active {
        background-color: #ffffff;
        border-color: #1c8a00;
        color: #1c8a00;
        cursor: pointer;

        &:hover {
            background-color: #1c8a00;
            color: #ffffff;
        }
    }
}

@media (max-width: 700px) {
    .auth_window {
        width: 100%;
        border-radius: 0;
    }
}

.error_message {
    margin-top: 12px;
    font-size: 14px;
    color: red;
    text-align: center;
}