<div class="dropdown">
  <div
    class="button_toggle"
    [class]="{active: active, has_value: activeOption}"
    (click)="active = true"
  >
    <input
      type="text"
      placeholder="{{ activeOption?.name ?? placeholder ?? '' }}"
      [(ngModel)]="filterInput"
      (focusin)="active = true"
    >
    <span *ngIf="activeOption" class="btn_clear" (click)="clear(); $event.stopPropagation()">✖</span>
  </div>
  <div *ngIf="active" class="dropdown_menu">
    <div
      *ngFor="let option of options | filterByName:filterInput"
      class="item"
      (click)="value = option.id"
    >{{ option.name }}</div>
  </div>
</div>
